:root {
	--primary-color: #1b262c;
	--secondary-color: #ed6663;
	--tertiary-color: #ffa372;
	--login-form-width: 300px;
}

body {
	color: var(--primary-color);
}

#login-form {
	max-width: var(--login-form-width);
	margin: 5rem auto;
	box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2), 0 0px 20px rgba(0, 0, 0, 0.4);
	border-radius: 4px;
	padding: 2rem;
}

.tabs {
	display: flex;
}

.tabs .overtop {
	transition: width 0.5s ease;
	background-color: var(--secondary-color);
	height: 2px;
}

.tabs h2:not(:last-child) {
	margin-right: 1rem;
}

.tabs h2 {
	cursor: pointer;
}

h2 {
	margin: 0 0 1rem;
}

form {
	display: flex;
	flex-direction: column;
}

.control {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

input {
	margin-bottom: 0.25rem;
	border-radius: 4px;
	border: 1px solid lightgray;
	padding: 0.25rem 0.5rem;
	margin-top: 0.25rem;
}

.error {
	color: var(--secondary-color);
	font-size: 0.75rem;
}

button[type='submit'] {
	width: calc(var(--login-form-width) / 4);
	border-radius: 4px;
	background-color: var(--tertiary-color);
	border: none;
	padding: 0.25rem 0.5rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
